<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BetterCompass</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.0.1/build/global/luxon.min.js"></script>
    <style>
        body {
            background-color: black; /* Dark background color */
            color: #ffffff; /* Light text color */
        }
        .navbar {
            background-color: #007bff;  /* Blue navbar color */
            border-color: #161818;
            border-radius: 5px;
        }
        .card {
            background-color: #353a3f;
            color: #ffffff;
            border-color: #161818;
        }
        h1 {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}

    <div class="container mt-5">
        <h1 class="text-center">Login</h1>
            <form method="post">
                <input name="session_id" type="text" class="form-control" placeholder="session_id">
                <input name="user_id" type="text" class="form-control" placeholder="user_id">
                <input name="school_prefix" type="text" class="form-control" placeholder="school_prefix">
                <input name="session_id" type="submit" class="btn btn-primary" value="login">
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
