<div style="width: 1440px; height: 1024px; position: relative; background: #E6F2FE">
    <div style="width: 601px; height: 708px; left: 419px; top: 158px; position: absolute; background: white; box-shadow: -24px 20px 0px rgba(0, 0, 0, 0.25); border-radius: 12px"></div>
    <div style="left: 610px; top: 468px; position: absolute; text-align: center; color: #303030; font-size: 36px; font-family: Cabin; font-weight: 500; word-wrap: break-word">Better Compass</div>
    <div style="width: 480px; height: 68px; left: 480px; top: 577px; position: absolute">r
      <div style="width: 480px; height: 68px; left: 0px; top: 0px; position: absolute; background: #F6991C; border-radius: 8px"></div>
      <div style="width: 197px; height: 35px; left: 161px; top: 16px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: Cabin; font-weight: 400; word-wrap: break-word">Sign in with SSO </div>
      <div style="width: 31.80px; height: 30.69px; left: 125px; top: 19px; position: absolute">
        <div style="width: 18px; height: 18px; left: 0px; top: 12.69px; position: absolute; background: white; border-radius: 9999px"></div>
        <div style="width: 8px; height: 8px; left: 5px; top: 17.69px; position: absolute; background: #F6991C; border-radius: 9999px"></div>
        <div style="width: 5px; height: 21.22px; left: 27px; top: 0px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; background: white"></div>
        <div style="width: 5px; height: 8.85px; left: 28.26px; top: 5.69px; position: absolute; transform: rotate(45deg); transform-origin: 0 0; background: white"></div>
      </div>
    </div>
    <div style="width: 479px; height: 29px; left: 480px; top: 693px; position: absolute">
      <div style="width: 208px; height: 0px; left: 0px; top: 16px; position: absolute; border: 2px #7F8796 solid"></div>
      <div style="width: 208px; height: 0px; left: 271px; top: 16px; position: absolute; border: 2px #7F8796 solid"></div>
      <div style="left: 229px; top: 0px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Cabin; font-weight: 400; word-wrap: break-word">or</div>
    </div>
    <div style="width: 506px; height: 80px; left: 467px; top: 747px; position: absolute; text-align: center"><span style="color: #0E6CD9; font-size: 24px; font-family: Cabin; font-weight: 400; text-decoration: underline; word-wrap: break-word">About</span><span style="color: #0E6CD9; font-size: 24px; font-family: Cabin; font-weight: 400; word-wrap: break-word"> - </span><span style="color: #0E6CD9; font-size: 24px; font-family: Cabin; font-weight: 400; text-decoration: underline; word-wrap: break-word">legal notice</span><span style="color: #0E6CD9; font-size: 24px; font-family: Cabin; font-weight: 400; word-wrap: break-word"> - </span><span style="color: #0E6CD9; font-size: 24px; font-family: Cabin; font-weight: 400; text-decoration: underline; word-wrap: break-word">contact</span></div>
    <img style="width: 139px; height: 199px; left: 650px; top: 224px; position: absolute" src="icon.ico" />
</div>